<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='loginregis.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="main">
        <div class="login">
            <form class="form-container" action="{{ url_for('login') }}" method="POST">
                <label for="chk">Login</label>
                <!-- Username Input -->
                <input type="text" name="username" placeholder="Username" required>
                
                <!-- Password Input -->
                <input type="password" name="password" placeholder="Password" required>
                
                <!-- Login Button -->
                <button type="submit">Login</button>

                <!-- Register Link -->
                <p>Don't have an account? 
                    <a href="{{ url_for('register') }}">Register here</a>
                </p>
            </form>
        </div>
    </div>
</body>
</html>
